                     /*# Reset style */
 * {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *::before, *::after {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 10px;
	-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
			text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul, li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}
				          /*# Variable and fonth */
:root {
	--index: calc(1vw + 1vh);
}
							/*# Base */
html, body {
	background-color: black;
}
.slider{
	height: 100%;
}
.slider__wrapper{
	will-change: transform;
	transform-style: preserve-3d;
}
.slider__layer{
	position: absolute;
	inset: 0; /*# top 0, bottom 0, left 0, right 0*/
	background-size: cover;
	background-position: center;
	will-change: transform;
}
.slider__layer::before{
	content: '';
	position: absolute;
	inset: 0;
	z-index: 1;
	box-shadow: inset 0 0 250px rgb(0 0 0 / .3);
}
.slider__item{
	overflow: hidden;
}